<header class="flex justify-between items-center bg-primary text-white w-full py-4 px-10">
  <a class="flex gap-4 items-center" href="index.html">
    <img class="h-[40]" src="assets/images/logo.png" alt="Logo">
    <span class="text-white text-xl">Cocina Pacense</span> 
  </a>

  <button id="menu-toggle" class="md:hidden text-white text-2xl" aria-label="Toggle menu" aria-expanded="false">
    <i class="fas fa-bars"></i>
  </button>

  <nav class="hidden md:block">
    <ul class="flex flex-row gap-4">
      <li class="{{ page === 'home' ? 'border-b-3 border-white pb-1' : '' }}">
        <a href="index.html">
          <i aria-hidden="true" class="fas fa-home"></i>
          Inicio
        </a>
      </li>
      <li class="{{ page === 'speakers' ? 'border-b-3 border-white pb-1' : '' }}">
        <a href="speakers.html">
          <i aria-hidden="true" class="fas fa-microphone"></i>
          Ponentes
        </a>
      </li>
      <li class="{{ page === 'contestants' ? 'border-b-3 border-white pb-1' : '' }}">
        <a href="contestants.html">
          <i aria-hidden="true" class="fas fa-utensils"></i>
          Concursantes
        </a>
      </li>
      <li class="{{ page === 'media' ? 'border-b-3 border-white pb-1' : '' }}">
        <a  href="media.html">
          <i aria-hidden="true" class="fas fa-newspaper"></i>
          Nota de Prensa
        </a>
      </li>
      <li class="{{ page === 'contact' ? 'border-b-3 border-white pb-1' : '' }}">
        <a href="contact.html">
          <i aria-hidden="true" class="fas fa-address-book"></i>
          Contacto
        </a>
      </li>
    </ul>
  </nav>
</header>
