<header class="flex justify-between items-center bg-primary text-white p-4 w-full">
  HEADER

  <nav>
    <ul class="flex flex-row gap-4">
      <li class="border-b-3 border-white pb-1">
        <a href="index.html">
          <i aria-hidden="true" class="fas fa-home"></i>
          Inicio
        </a>
      </li>
      <li>
        <a href="speakers.html">
          <i aria-hidden="true" class="fas fa-microphone"></i>
          Ponentes
        </a>
      </li>
      <li>
        <a  href="media.html">
          <i aria-hidden="true" class="fas fa-newspaper"></i>
          Nota de Prensa
        </a>
      </li>
      <li>
        <a href="contact.html">
          <i aria-hidden="true" class="fas fa-address-book"></i>
          Contacto
        </a>
      </li>
    </ul>
  </nav>
</header>
